<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="<%= bot.user.displayAvatarURL({size: 128}) %>">
    <title><%= bot.user.username %></title>
    <link rel="stylesheet" href="/output.css">
    <script src="/script.js"></script>
    <style>
        *{
            transition: all 0.3s ease;
        }
    </style>
</head>

<body class="dark:bg-gray-800">
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a class="navbar-brand" href="/" style="text-decoration: none;color:white">
                <img src="<%= bot.user.displayAvatarURL({size: 4096}) %>" alt="Logo"
                    class="mr-3 h-6 sm:h-10 rounded-full">
            </a>
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                <li class="nav-item">
                    <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id %>&permissions=8&scope=bot%20applications.commands"
                        target="_blank">
                        <b>Invite</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://discord.gg/milrato" target="_blank">Support</a>
                </li>
                <li class="nav-item">
                    <a href="/dashboard"><b>Dashboard</b></a>
                </li>
            </ul>
            <ul>
                <li>
                    <% if(user && user.id) { %>
                    <button onclick="location.href='/logout'" type="button">
                        <img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png" alt="LOGO"
                            class="mr-3 h-6 sm:h-10 rounded-full">
                        Logout
                    </button>
                    <% }else { %>
                    <button onclick="location.href='/login'" type="button">
                        <span class="iconify" data-icon="simple-icons:discord"></span>Login</button>
                    <% }%>
                </li>
            </ul>
            <button onclick="darkModeToggle()">Dark</button>
        </div>
    </nav>