<%- include('header'); -%>
<section>
    <h1 class="text-5xl">
        <i class="iconify" data-icon="ant-design:dashboard-filled"></i>
        <b><%= guild.name %></b> | Dashboard
    </h1>
    <div class="form-body" style="margin-top: -2%;">
        <h3> Server Settings</h3>
        <p>Change the Server Settings of <%= bot.user.username %> in <%= guild.name %></p>
        <form method="POST">
            <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">指令前綴：</p>
            <p style="font-style: italic;" class="disabled">在指令前加上此前綴以呼叫機器人。</p>
            <input type="text" class="form-control" name="prefix" value="<%= settings.prefix %>" placeholder="自訂前綴">
            <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">機器人暱稱：</p>
            <p style="font-style: italic;" class="disabled">更改機器人的暱稱。</p>
            <input type="text" class="form-control" name="username" value="<%= settings.nickname %>" placeholder="自訂暱稱">
            <br><button type="submit" class="btn btn-secondary">儲存設定</button>
        </form>
    </div>
</section>
<section>
    <div class="card-footer">
        <h4>
            <img src="<%= bot.user.displayAvatarURL({size: 4096}) %>" style="width: 4%;margin-top: -0.5%;"> <span
                style="font-size: 40px;"><%= bot.user.username %></span>
        </h4>

    </div>
</section>
</body>
</html>